/*body {
  background-image: url('assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}*/

.mb-8{
  background: rgba( 255, 255, 255, 0 );
box-shadow: 0 8px 32px 0 rgba(215, 19, 1, 0.37);
backdrop-filter: blur( 2.5px );
-webkit-backdrop-filter: blur( 2.5px );
border-radius: 10px;
border: 3px solid rgba(251, 251, 251, 0.681);
}

.mb-8 h1{
  color: linear-gradient(red, green);
}
.animate__animated.animate__lightSpeedInRight {
  --animate-duration: 2s;
}

/* From Uiverse.io by kennyotsu */ 
.card {
  --bg-color: transparent;
  background-color: var(--bg-color);
  padding: 1rem 2rem;
  border-radius: 1.25rem;
}
.loader {
  color: rgb(47, 126, 7);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 30px;
  height: 40px;
  padding: 10px 10px;
  display: flex;
  border-radius: 8px;
}
.words {
  overflow: hidden;
  position: relative;
}
.words::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    var(--bg-color) 10%,
    transparent 30%,
    transparent 70%,
    var(--bg-color) 90%
  );
  z-index: 20;
}
.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: #e60f0fd9;
  animation: spin_4991 4s infinite;
}
@keyframes spin_4991 {
  10% { transform: translateY(-102%); }
  25% { transform: translateY(-100%); }
  35% { transform: translateY(-202%); }
  50% { transform: translateY(-200%); }
  60% { transform: translateY(-302%); }
  75% { transform: translateY(-300%); }
  85% { transform: translateY(-402%); }
  100% { transform: translateY(-400%); }
}